// .title {
//   height: auto;
// }

// .widgets {
//   display: flex;
// }

// .no-drill {
//   width: 60%;
//   height: 100%;
//   border: 1px solid red;
//   flex-grow: 1;
// }

// .drill {
//   display: flex;
//   flex-direction: column;
//   width: 40%;
//   height: 100%;

//   .drill--top,
//   .drill--bottom {
//     height: 50%;
//     border: 1px solid blue;
//   }
// }

.all-widgets {
  display: flex;

  .first {
    width: 60%;
    height: 100%;
    flex-grow: 1;
  }

  .second {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;

    & > * {
      height: 50%;
    }
  }
}

.two-widgets {
  display: flex;

  .first {
    width: 60%;
    height: 100%;
    flex-grow: 1;
  }

  .second {
    width: 40%;
    height: 100%;
  }
}

.one-widget {
  display: flex;

  & > * {
    width: 100%;
    height: 100%;
  }
}


